body {
    background-color: #F4F2EE;
}

html,
body {
    overflow-x: hidden;
}

.container {
    /* styles here if needed */
}

.hyder {
    background-color: white;
    position: static;
    height: 75px;
}

.linkedIn-icon-header {
    margin-top: 14px;
    color: #0A66C2;
    font-size: 30px;
    margin-left: 68px;

}

.linkedIn-icon {
    margin-right: 3px;
    font-size: 30px;
}

.search-wrapper {}

.search-icon {
    position: absolute;
    left: 12px;
    top: 63%;
    transform: translateY(-50%);
    color: #404040;
    pointer-events: none;
}

.search-text {
    position: absolute;
    left: 32px;
    top: 63%;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.typeahead__container .typeahead__field input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    width: 85%;
    height: 30px !important;
    min-height: 0 !important;
    line-height: 33px !important;
    border: 1px solid #B2B2B2;
    border-radius: 25px;
    padding: 6px 12px;
    padding-left: 33px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.typeahead__field input:focus {
    border-color: #000 !important;
    width: 100% !important;
}

.typeahead__cancel-button {
    display: none;
}

.typeahead__container.result .typeahead__list {
    border-radius: 10px;
    width: 255px;
}

.select2-container--default .select2-selection--multiple {
    border: none;
    background-color: transparent;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    outline: none;
}

.container-header-icon {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: #fff;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #666;
    cursor: pointer;
}

.hyder-icon {
    font-size: 17px;

}

.profile-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.icon-text {
    margin-top: 3px;
}

.icon-item:hover,
.icon-item:hover i,
.icon-item:hover span {
    color: black;
}

.more-item {
    display: none;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-menu {
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.active {
    display: block;
}

.dropdown-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.dropdown-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-info {
    display: flex;
    flex-direction: column;
}

.dropdown-name {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.dropdown-desc {
    font-size: 12px;
    color: #666;
    margin: 2px 0 0 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.dropdown-view-profile {
    display: block;
    width: 100%;
    height: 25px;
    padding: 2px;
    border: 1px solid #0073b1;
    background: #fff;
    color: #0073b1;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.dropdown-view-profile:hover {
    background: #0073b1;
    color: #fff;
}

.dropdown-divider {
    border: none;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

.dropdown-section {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin: 5px 0;
}

.dropdown-link {
    display: block;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.dropdown-link:hover {
    text-decoration: underline;
}

.dropdown-signout {
    display: block;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    margin-top: 5px;
}

.dropdown-signout:hover {
    text-decoration: underline;
}

.container-header-icon-1 {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: #fff;
}

.icon-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #666;
    cursor: pointer;
}

.hyder-icon-1 {
    font-size: 17px;
}

.hyder-icon-2 {
    font-size: 17px;
    color: #F8C77E;
}

.icon-text-1 {
    margin-top: 3px;
}

.icon-text-2 {
    margin-top: 3px;
    margin-left: 20px;
}

.icon-text-3 {
    margin-top: 3px;
    margin-left: 10px;
}

.icon-item-1:hover {
    color: black;
}

.dropdown-1 {
    position: relative;
    display: flex;
}

.dropdown-menu-1 {
    z-index: 10;
    position: absolute;
    top: 45px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 253px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .dropdown-menu-1.active {
    display: block;
} */

.dropdown-header-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.dropdown-profile-img-1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.for-business-toggle {
    position: relative;
    display: inline-flex;
}

.dropdownForBusiness {
    position: absolute;
    top: 63px;
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 700px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto;
    z-index: 5;
}

.dropdown-content {
    display: flex;
    gap: 30px;
}

.dropdown-left {
    flex: 1;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    padding-left: 30px;
    gap: 10px;
}

.dropdown-left-title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 20px;
    color: black;
}

.dropdown-left-item-title {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 8px;
    color: black;
}

.dropdown-left-item {
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;
    color: #666;

}

.dropdown-left-icon {
    margin-right: 8px;
    color: #0073b1;
    font-size: 23px;

}

.dropdown-right {
    flex: 2;
    padding-left: 20px;

}

.dropdown-right-title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 20px;
    color: black;
}

.dropdown-right-item {
    margin-bottom: 25px;
    font-size: 16px;
    color: #666;

}

.dropdown-right-item-title {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.dropdown-right-item-span {
    font-size: 12px;
    color: #555;
}

.dropdown-right-icon {
    margin-left: 5px;
    color: #000;
}

.dropdown-left-item:hover,
.dropdown-right-item:hover {
    text-decoration: underline;
    text-decoration-color: #0073e6;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.Profile-cover-container {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 68px;
    /* A recent addition that can be cancelled normally if the world goes wrong */
}

.Personal-page-cover {
    border-radius: 13px 13px 0px 0px;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.Camera-icon-container {
    display: flex;
    position: absolute;
    right: 35%;
    top: 110px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.Camera-icon-container :hover {
    color: #004182;
}

.Icon-camera {
    color: #0A66C2;
    font-size: 15px;

}

.Profile-picture {
    /* width: 152px;
    height: 152px;
    border-radius: 50%;
    position: absolute;
    left: 145px;
    top: 165px;
    border: 4px solid white; */
    width: 155px;
    height: 155px;
    border-radius: 50%;
    position: absolute;
    left: 220px;
    top: 165px;
    border: 4px solid white;
    /* A recent addition that can be cancelled normally if the world goes wrong */

}

.edit-profile-name-container {
    display: flex;
    justify-content: end;
}

.edit-profile-name-button {
    border: none;
    background-color: white;
    margin-top: 10px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    color: #303030;
}

.edit-profile-name-button:hover {
    background-color: #F3F3F3;
    border-radius: 50%;

}

.education-container {
    display: flex;
    gap: 5px;
    max-width: 85%;
}

.picture-of-education {
    width: 40px;
    height: 40px;

}

.info-of-education {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: #000;
}

.info-of-education:hover {
    text-decoration: underline;
    color: #0A58CA;
}

.Profile-details-container {
    border-radius: 0px 0px 13px 13px;
    background-color: white;
    padding: 0px;
    margin-top: 0px;
    display: flex;
    cursor: pointer;
    margin-left: 68px;
    /* A recent addition that can be cancelled normally if the world goes wrong */
}

.Profile-details {
    border-radius: 0px 0px 13px 13px;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.Profile-info-container {
    display: contents;
    margin-top: 70px;
    margin-left: 20px;
}

.Profile-name {
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 1px;
    font-size: 23px;
    /* font-family: Poppins; */
    color: #000;
}

.Profile-name:hover {
    width: 25%;
    background-color: #d7d6d6;
}

.studies-information {
    margin-left: 20px;
    font-size: 14px;
    /* font-family: Poppins; */
    color: #525252;
    margin-bottom: 2px;
}

.country-information {
    margin-left: 20px;
    font-size: 14px;
    color: #787878;
}

.contact-info {
    text-decoration: none;
    font-size: 14px;

}

.contact-info:hover {
    text-decoration: underline;

}

.connection {
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;


}

.connection:hover {
    text-decoration: underline;

}




.ui-widget-overlay {
    background: #4f4f4d !important;
}

.ui-dialog {

    width: 805px !important;
    margin-top: 25px !important;
    padding: 0px !important;
    border-radius: 20px !important;


}



.ui-dialog-titlebar {
    background-color: white !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.ui-dialog-title {
    font-size: 20px !important;
    font-weight: 600px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}

.ui-dialog-titlebar-close {
    position: absolute !important;
    border: none !important;
    background: transparent !important;
    font-size: 50px !important;
    cursor: pointer !important;

}


.ui-dialog-content {
    background-color: yellow !important;
    background: #fff !important;
    width: 800px !important;
    max-height: 470px !important;
    overflow-y: auto !important;
    padding: 20px !important;
    position: relative !important;
}

.ui-dialog-buttonpane {
    padding: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top: 1px solid #ccc !important;


}

.ui-dialog-buttonpane button {
    background: #0073b1 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    margin-top: 20px !important;
    align-self: flex-end !important;
    position: static !important;
}


.promo-box {
    background: white;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;

}


.icon-item-10 {
    font-size: 10px;
    color: #666;
    cursor: pointer;
}

.hyder-icon-2 {
    font-size: 17px;
    color: #F8C77E;
}

.icon-text-33 {
    color: black;
    font-size: 15px;
    margin-left: 5px;
}

.feature-profile {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}

.circle-stack {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 20px;
}

.circle-images {
    position: relative;
    width: 80px;
    height: 35px;
}

.circle {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.img1 {
    left: 0;
    z-index: 1;
}

.img2 {
    left: 20px;
    z-index: 2;
}

.img3 {
    left: 40px;
    z-index: 3;
}

.circle-text {
    margin-top: 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #767575;
}



.promo-btn {
    background: #F9C982;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.promo-btn:hover {
    background: #E9A53F;

}

.promo-note {
    font-size: 12px;
    color: #555;
    margin-top: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.indicates-required {
    color: #6f6d6d;
    font-size: 12px;
}

.modal-form-label {
    margin: 10px 0 5px;
    color: #404040;
    font-size: 14px;
    margin: 10px 0 5px;
}

.modal-form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-open-to {
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 480px; */
    height: 30px;
    border-radius: 15px;
    background-color: #0A66C2;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-left: 20px;
    /* margin-right: 5px; */
}

.btn-open-to:hover {
    background-color: #084d91;

}

.dropdown-open-container-to {
    display: none;
    position: relative;
    margin-top: 10px;
    width: 260px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px 0;
}

.dropdown-open-container-to-act {
    display: block;

}

.dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
}

.dropdown-item strong {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin-bottom: 2px;
}

.dropdown-item p {
    font-size: 13px;
    color: #666;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.dropdown-item:hover {
    background: #f3f6f8;
}


.btn-add-profile {
    border: 1px solid #478CD1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: #00000000;
    color: #0a66c2;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.btn-add-profile:hover {
    border: 2px solid #004182;
    background-color: #EBF4FD;
    color: #004182;


}

.btn-enhance-profile {
    border: 1px solid #478CD1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: #00000000;
    color: #0a66c2;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    /* margin-left: 25px; */
}

.btn-enhance-profile-mobile {
    border: 1px solid #478CD1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: #00000000;
    color: #0a66c2;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    /* margin-left: 25px; */
    display: none;

}

.btn-enhance-profile:hover {
    border: 2px solid #004182;
    background-color: #EBF4FD;
    color: #004182;
}

.btn-resources {
    border: 1px solid #404050;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    color: #404040;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
}

.btn-resources-mobile {
    border: 1px solid #404050;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    color: #404040;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    display: none;
}

.btn-resources:hover {
    border: 2px solid #181818;
    background-color: #F3F3F3;
    color: #181818;
}

div[aria-describedby="dialogaddprofile"] {
    width: 577px !important;
    height: 455px;
    margin-top: 15px !important;
    padding: 0 !important;
    border-radius: 20px !important;
}

div[aria-describedby="dialogaddprofile"]>.ui-dialog-content {
    background-color: yellow !important;
    min-height: 240px;
    background: #fff !important;
    width: 574px !important;
    max-height: 380px !important;
    overflow-y: 450px !important;
    padding: 0px !important;
    position: relative !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.dialog-text-container-add-profile-section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}

.text-add-profile-section1 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.text-add-profile-section2 {
    margin-top: 3px;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}

.get-started-btn {
    background: #0A66C2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.get-started-btn:hover {
    background: #064b90;

}

.get-started-note {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.ui-accordion {
    background: white !important;
    border: none !important;
    box-shadow: none !important;
}

.ui-accordion-header {
    background: white !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    color: #000 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-weight: 600;
}

.ui-accordion-header:last-of-type {
    border-bottom: none !important;
}

.ui-accordion-header-active {
    background: white !important;
    color: #000 !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.ui-accordion-content {
    background: white !important;
    border: none !important;
    box-shadow: none !important;
    color: #000 !important;

}

.ui-accordion-header .ui-accordion-header-icon {
    order: 2 !important;
    /* display: flex; */
    margin-left: auto !important;
    margin-right: 0 !important;
}

.ui-accordion-header {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.text-accordion1 {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.text-accordion2 {
    font-size: 16px;
    font-weight: 500;
    color: #666666 !important;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 7px;
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
}

.neutron-slider-track {
    /* margin-left: 20px;
    margin-right: 20px; */
}

.neutron-slider-list {
    margin-left: 15px;
    margin-right: 15px;
}

.neutron-slider {
    background-color: transparent !important;
    padding: 5px !important;
    margin-top: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.neutron-slider .container-box:first-child {
    background-color: #DDE7F1 !important;
}

.neutron-slide {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    transform: none !important;
    background-color: white !important;
    height: 100px !important;
}

/* .center-slide {
    height: 100px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
 transform: none !important;
} */

.container-box {
    border: violet;
    height: 100px;
    width: 100%;
}

.prev-arrow {
    position: absolute;
    z-index: 10;
    bottom: 16%;
    left: 14%;
    background: rgba(102, 102, 102, 0.4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.next-arrow {
    position: absolute;
    z-index: 10;
    bottom: 16%;
    left: 63%;
    background: rgba(102, 102, 102, 0.4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.arrow-icon {
    font-size: 15px;
    color: white;
}