/* // `xs` returns only a ruleset and no media query
// ... { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hyder {
        background-color: white;
        position: static;
        height: 55px;
    }

    .linkedIn-icon-header {
        margin-top: 6px;
        margin-right: 2px !important;
        color: #0A66C2;
        font-size: 30px;
        margin-left: 0px !important;
    }

    .search-text,
    .js-example-placeholder-multiple {
        display: none;
    }

    .search-wrapper.expanded {
        height: auto;
        flex-wrap: wrap;
    }

    .search-wrapper.expanded .js-example-placeholder-multiple {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .search-text,
    .js-example-placeholder-multiple {
        display: none !important;
    }

    .search-wrapper {
        /* border: none;
        width: auto;
        height: auto;
        background: transparent;
        padding: 0; */
    }

    .typeahead__container .typeahead__field input {
        display: none;
    }



    .search-icon {
        margin-left: 10px;
        margin-top: 5px;
        color: #666;
        font-size: 17px;

    }

    .icon-text {
        display: none !important;
    }

    .me-item {
        display: none !important;
    }

    .more-item {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
        color: #666;
        cursor: pointer;
        margin-left: -30px;
    }

    .Profile-cover-container {
        display: flex;
        margin-top: 15px !important;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }

    .Personal-page-cover {
        border-radius: 13px 13px 0px 0px;
        padding: 0px;
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    .Camera-icon-container {
        right: 20px;
        top: 83px;

    }

    .Profile-picture {
        width: 100px;
        height: 100px;
        left: 26px;
        top: 123px;
    }

    .Profile-details-container {
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
    }

    .Profile-details {
        border-radius: 0px 0px 13px 13px;
        background-color: white;
        padding: 0px;
        /* height: 100px; */
        width: 100%;
        object-fit: cover;
    }

    .education-container {
        display: none;
    }

    .ui-dialog {
        width: 90% !important;
        margin-top: 15px !important;
    }

    .ui-dialog-content {
        width: auto !important;
        max-height: 70vh !important;
        padding: 15px !important;
    }

    .ui-dialog-title {
        font-size: 16px !important;
    }

    .ui-dialog-titlebar-close {
        font-size: 30px !important;
        top: 5px !important;
        right: 5px !important;
    }

    .btn-enhance-profile {
        display: none;

    }

    .btn-enhance-profile-mobile {
        display: block;
        margin-left: 40px;


    }

    .btn-resources {
        display: none;

    }

    .btn-resources-mobile {
        display: block;
        width: 75%;

    }

    div[aria-describedby="dialogaddprofile"] {
        width: 90% !important;
        height: auto !important;
        margin: 15px auto !important;
        border-radius: 12px !important;
    }

    div[aria-describedby="dialogaddprofile"]>.ui-dialog-content {
        width: 100% !important;
        max-height: none !important;
        padding: 10px !important;
    }

    .text-accordion1 {
        font-size: 13px;
    }

    .text-accordion2 {
        font-size: 14px;
        padding-bottom: 6px;
    }


}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}