.neutron-slider {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.neutron-slider-list {
    overflow: hidden;
}

.neutron-slider-track {
    display: flex;
    align-items: stretch;
    max-height: 470px;
    will-change: transform
}

.neutron-slide {
    flex: 0 0 auto;
    margin: 0 10px;
    transform: scale(0.8);
    border-radius: 12px;
    transition: transform .5s ease,opacity .5s ease;
    pointer-events: none;
}

.neutron-slide img {
    width: 100%;
    height: auto;
}

.neutron-slide.neutron-slide-active {
    /* display: block; */
}

/* Center Mode */
.neutron-slide.center-slide {
    transform: scale(1);
    transition: transform 300ms ease;
}

.neutron-slide.active.center-slide {
    transform: scale(1);
}

/* Dots */
.neutron-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.neutron-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.neutron-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.neutron-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.neutron-dots li.neutron-slide-active button:before {
    opacity: .75;
    color: black;
}

/* Arrows */
.neutron-prev, .neutron-next {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}

.neutron-prev {
    left: -25px;
}

.neutron-next {
    right: -25px;
}
